 * {
    border: 2px solid red;
 }
body {
   text-align: center;
   background: #FFD1DC;
   font-family: monospace;
}
 .header {
    text-align: center;
 }

 .subject-container {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    
 }
 .subject-item {
    flex: 1;
    text-align: center;
    height: 200px;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
 }

.abpsy {
    background:#C3B1E1;
 }

 .devpsy {
    background: #77dd77;
 }

 .indus-org {
    background: #FFC067;
 }

 .psych-ass {
    background: #AEC6CF;
 }