 * {
    border: 2px solid red;
 }
 
 .header {
    text-align: center;
 }

 .subject-container {
    display: flex;
    flex-wrap: wrap;
 }
 .subject-item {
    flex:auto;
    text-align: center;
 }

 .subject-container .abpsy {
    background-color:#C3B1E1;
 }