 * {
    border: 2px solid red;
 }

 .header {
    text-align: center;
 }

 .subject-container {
    display: flex;
    flex-wrap: wrap;
 }
 .subject-item {
    flex:auto;
    text-align: center;
 }

.abpsy {
    background:#C3B1E1;
 }

 .devpsy {
    background: #77dd77;
 }

 .indus-org {
    background: #FFC067;
 }

 .psych-ass {
    background: #AEC6CF;
 }